
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


#content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

#content.collapsed {
    margin-left: 0;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    border: none;
}

.card .card-icon {
    font-size: 2rem;
    margin-right: 15px;
}

.card .card-body {
    display: flex;
    align-items: center;
}

.card .card-title {
    font-size: 1.2rem;
    margin: 0;
}

.card .card-value {
    font-size: 1.5rem;
    margin: 0;
}


#sidebarToggle {
    background-color: #ff8c00;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
}

#sidebarToggle:focus {
    outline: none;
}

canvas {
    max-width: 100%;
    height: auto !important;
}


@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #content {
        margin-left: 0;
    }
}
